#hintbox {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#FFFFFF;
border:1px solid #99A1AB;
color:#282828;
font-size:10px;
margin:0px 0 0 0px;
opacity:0.9;
padding:0px 0px;
position:absolute;
text-align:left;
visibility:hidden;
width:150px;
z-index:998;
}